<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xyz.kalubo.ecare32">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden|adjustResize">
        <activity android:name=".PharmacyCartPayout"></activity>
        <activity android:name=".ChnnelDoctorActivity" />
        <activity android:name=".PharmacyAddingMedicineAdmin" />
        <activity android:name=".PharmacyAddingMedicine" />
        <activity android:name=".PharmacyCart" />
        <activity android:name=".PharmacyDetails" />
        <activity android:name=".PharmacyHome" />
        <activity
            android:name=".PatientPortal"
            android:label="@string/title_activity_patient_portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TemporyMainMenuActivity" />
        <activity
            android:name=".ListOfDoctorsActivity"
            android:label="@string/title_activity_list_of_doctors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorHomeActivity"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainPromptActivity" />
        <activity android:name=".PatientHomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>